<ul id="form_tools">
	<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	  <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></li>
	<% end -%>
</ul>