html {
  color: #000000;
  background: #f6f6f8;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before { content: ''; }
q:after { content: ''; }
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input, textarea, select { *font-size: 100%; }
legend { color: #000000; }
body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
a img { border: none; }
a {
  color: #2276bb;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #175384;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
#container {
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px 60px;
  border: solid 1px #d8d8d8;
  margin-top: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}
#flash_error, #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}
.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
.error_messages li { padding-left: 15px; }
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #cc0000;
  color: #ffffff;
}
.error_messages p { margin: 8px 10px; }
.error_messages ul { margin: 0; }
#logo {
  font-size: 28px;
  font-family: Helvetica, Arial;
  font-weight: bold;
  margin-bottom: 20px;
}
#navigation { margin-bottom: 20px; }
#introduction { color: #333333; }
#introduction p {
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.2em;
}
#introduction ul {
  font-size: 14px;
  margin-bottom: 40px;
}
#introduction ul h3 {
  font-weight: bold;
  color: #333333;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: Arial;
}
#introduction ul li { list-style: disc inside; }
#introduction .orange_button { margin: 20px 0; }
h2 {
  font-size: 21px;
  font-weight: bold;
  font-family: Helvetica, Arial;
  margin: 40px 0px;
}
.info {
  display: block;
  font-size: 11px;
  color: #666666;
}
p { margin-bottom: 15px; }
form h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: Helvetica, Arial;
}
.label {
  display: block;
  font-size: 16px;
}
input[type="text"], input[type="password"] {
  border: 3px solid #d8d8d8;
  padding: 3px 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-top: 5px;
}
textarea {
  padding: 10px;
  width: 60%;
}
.orange_button {
  background: #ff8900;
  background: -moz-linear-gradient(top, #ff8900 0%, #f86702 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8900), color-stop(100%, #f86702));
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #bc4e00;
  color: #ffffff;
  padding: 4px 7px;
  text-align: center;
  font-family: Arial;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-weight: normal;
  font-size: 13px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.orange_button:hover {
  color: #ffffff;
  background: #ffa33a;
  background: -moz-linear-gradient(top, #ffa33a 0%, #f7741d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa33a), color-stop(100%, #f7741d));
  text-decoration: none;
}
.orange_button:active {
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  background: #f7741d;
  background: -moz-linear-gradient(top, #f7741d 0%, #ffa33a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7741d), color-stop(100%, #ffa33a));
}
#form_button {
  display: block;
  border-top: 1px dotted #d8d8d8;
  padding: 20px 0px;
  margin-top: 40px;
}
#form_tools {
  padding-top: 15px;
  display: block;
  border-top: 1px dashed #d8d8d8;
  font-size: 12px;
  font-family: Arial;
}
#form_tools li { margin-bottom: 5px; }
.instructions {
  display: block;
  font-size: 14px;
  margin-bottom: 25px;
}
table td { font-size: 13px; }
.ui-autocomplete {
  background: #ffffff;
  width: 400px;
  border: 1px solid #d8d8d8;
  font-size: 12px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #bdbcb0;
  -webkit-box-shadow: 0px 1px 4px #bdbcb0;
  -moz-box-shadow: 0px 1px 4px #bdbcb0;
}
.ui-autocomplete li {
  padding: 5px 0;
  border-bottom: 1px solid #d8d8d8;
}
.autocomplete {
  width: 50%;
  margin-right: 10px;
}
#programming_languages { margin-top: 10px; }
#programming_languages li { padding: 3px 0; }
#programming_languages label {
  width: 220px;
  display: inline-block;
}
#friends_selection {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.floatLeft { float: left; }
.floatRight { float: right; }
.clear { clear: both; }
th, td { padding: 5px 5px; }
.column-headers { font-size: 12px; }
.column-headers th { font-weight: bold; }
