<div style="overflow:scroll;height:500px">
	<table class="report">
		<tr>
			<th>Compatibility Score</th>
			<th>Last</th>
			<th>First</th>
			<th>Email</th>
			<th>Group</th>
			<th></th>
			<th>M</th>
			<th></th>
			<th></th>
			<th>T</th>
			<th></th>
			<th></th>
			<th>W</th>
			<th></th>
			<th></th>
			<th>Th</th>
			<th></th>
			<th></th>
			<th>F</th>
			<th></th>
			<th></th>
			<th>S</th>
			<th></th>
			<th></th>
			<th>Su</th>
			<th></th>
			<th>Preferred Teammates</th>
			<th></th>
			<th>Monday Preferences</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>am</th>
			<th>noon</th>
			<th>pm</th>
			<th>am</th>
			<th>noon</th>
			<th>pm</th>
			<th>am</th>
			<th>noon</th>
			<th>pm</th>
			<th>am</th>
			<th>noon</th>
			<th>pm</th>
			<th>am</th>
			<th>noon</th>
			<th>pm</th>
			<th>am</th>
			<th>noon</th>
			<th>pm</th>
			<th>am</th>
			<th>noon</th>
			<th>pm</th>
			<th></th>
			<th>2pm-2:50pm</th>
			<th>3pm-3:50pm</th>
			<th>4pm-4:50pm</th>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<% if user %>
					<% user.each do |attribute| %>
						<td><%= attribute %></td>
					<% end %>
				<% else %>
					<td></td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>

<% if user_signed_in? && current_user.admin %>
	<div>
		<%= link_to "download users", download_path(:export_type => "user") %>
		<%= link_to "download schedule", download_path(:export_type => "schedule") %>
	</div>
<% end %>
