<h1>Thanks for signing up!</h1>
<p>
	You will be emailed when your group has been formed. 
</p>
<p>
	You will also be notified when you are able to log in and utilize further group-related features of this application.
</p>