<div id="introduction">
	<p>
		We need to confirm you are a UCSD student before we can continue with the form. So please check your email for the confirmation we just sent! If you do not receive a confirmation email within 10 minutes, please contact us at <a href="mailto:grooopme@gmail.com">grooopme[at]gmail[dot]com</a>
	</p>
</div>